:root {
    --primary-color: #5D3FD3;
    --bg-color: #f8f9fa;
    --text-color: #333;
    --card-bg: #ffffff;
    --border-radius: 12px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 500px;
    text-align: center;
}

/* Para el Panel de Admin (más ancho) */
.container-wide {
    max-width: 900px;
    margin: 20px;
}

.card {
    background: var(--card-bg);
    padding: 30px;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    border: 1px solid #e0e0e0;
}

h2 { color: #2c3e50; margin-bottom: 20px; }

/* Botones */
.btn-primary {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    width: 100%;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    display: block;
}

.btn-primary:hover { opacity: 0.9; }

.btn-admin {
    background: none;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 8px 15px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 0.85rem;
    float: right;
    margin-bottom: 15px;
}

/* Formularios */
.form-group { text-align: left; margin-bottom: 15px; }
label { display: block; margin-bottom: 5px; font-weight: 600; font-size: 0.9rem; }
input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
}

/* Tablas */
table { width: 100%; border-collapse: collapse; margin-top: 20px; background: white; }
th, td { padding: 12px; text-align: left; border-bottom: 1px solid #eee; font-size: 0.9rem; }
th { background: #fcfcfc; color: #666; }

.status {
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 0.75rem;
    font-weight: bold;
}

.content_imagen {
    height: 180px;
    width: 180px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #e0e6ff;
    border-radius: 10px;
}

.imagen {
    width: 100%;
    height: auto;
    display: block;
}


.atendido { background: #e6fcf5; color: #0ca678; }
.pendiente { background: #fff9db; color: #f08c00; }
